﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<b>Click on this paragraph.</b>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    debugger;

    var a = [];
    for (i = 0; i < 10; i++) {
        var m = { one: "100" + i, two: "200" + i, three: "300" + i };
        a.push(m);
    }

    var str = JSON.stringify(a);


    @*$.ajax({
        type: "POST",
        url: "@Url.Action("Array", "Home")",
        data: str,
        contentType: "application/json"
    });*@

    var b = [];
    for (i = 0; i < 10; i++) {
        var m = { four: "100" + i, five: "200" + i, six: "300" + i };
        b.push(m);
    }

    var c = { a: a, b: b, AsmId: "1", AsmName: "one" };

     var jstr = JSON.stringify(c);

     debugger;
    $.ajax({
        type: "POST",
        url: "@Url.Action("Array2", "Home")",
        data: jstr,
        contentType: "application/json"
    });

</script>

