﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>



<script src="~/Scripts/azure-storage.blob.min.js" >
//this Azure Storage JavaScript Client Library
</script>

<p>Select file to upload to blob</p>
<p>
    <input type="file" id="blobFile">
</p>
<p>
    <button onclick="blobUpload()">Upload to blob</button>
</p>
<p>
    <button onclick="serverside()">Do server side processing </button>
</p>

    <script>

        var blobname;
        function blobUpload() {

            //connection string
            //BlobEndpoint=https://wabacchris.blob.core.windows.net/;QueueEndpoint=https://wabacchris.queue.core.windows.net/;FileEndpoint=https://wabacchris.file.core.windows.net/;TableEndpoint=https://wabacchris.table.core.windows.net/;SharedAccessSignature=sv=2017-11-09&ss=b&srt=sco&sp=w&se=2019-10-25T23:47:42Z&st=2018-10-25T15:47:42Z&spr=https&sig=9heifG48SB82dKPv9%2FEIKjt0pLr%2B5pS5v0UonImXg%2Bc%3D
            //SAS token
            //?sv=2017-11-09&ss=b&srt=sco&sp=w&se=2019-10-25T23:47:42Z&st=2018-10-25T15:47:42Z&spr=https&sig=9heifG48SB82dKPv9%2FEIKjt0pLr%2B5pS5v0UonImXg%2Bc%3D
            //SAS ULR
            //https://wabacchris.blob.core.windows.net/?sv=2017-11-09&ss=b&srt=sco&sp=w&se=2019-10-25T23:47:42Z&st=2018-10-25T15:47:42Z&spr=https&sig=9heifG48SB82dKPv9%2FEIKjt0pLr%2B5pS5v0UonImXg%2Bc%3D

            // blob client
            var blobUri = 'https://wabacchris.blob.core.windows.net';
            var blobService = AzureStorage.Blob.createBlobServiceWithSas(blobUri, '?sv=2017-11-09&ss=b&srt=sco&sp=w&se=2019-10-25T23:47:42Z&st=2018-10-25T15:47:42Z&spr=https&sig=9heifG48SB82dKPv9%2FEIKjt0pLr%2B5pS5v0UonImXg%2Bc%3D');

            // blob upload
            var file = document.getElementById('blobFile').files[0];

            var customBlockSize = file.size > 1024 * 1024 * 32 ? 1024 * 1024 * 4 : 1024 * 512;
            blobService.singleBlobPutThresholdInBytes = customBlockSize;

            var filename = file.name.substring(0, file.name.lastIndexOf('.'));
            var ext = file.name.substring(file.name.lastIndexOf('.'));

            blobname = filename + '_' + Math.random().toString(16).slice(2) + ext;

            var speedSummary = blobService.createBlockBlobFromBrowserFile('chris', blobname, file, { blockSize: customBlockSize }, function (error, result, response) {
                if (error) {
                    // Upload blob failed
                    alert("blob upload failed : check CORS");
                } else {
                    // Upload successfully
                    alert("blob upload successfull");
                }
            });

            var bcheckList = false;
            if (bcheckList) {
                // blob list
                blobService.listBlobsSegmented('chris', null, function (error, results) {
                    if (error) {
                        // List blobs error
                        alert("blob list failed : check SAS token");
                    } else {
                        for (var i = 0, blob; blob = results.entries[i]; i++) {
                            // blob object
                            alert("blob found : " + blob);
                        }
                    }
                });
            }
        }

        function serverside() {
            var newURL = location.protocol + "//" + location.host + "/Home/Contact?id=" + blobname;
            newURL = encodeURI(newURL)
            //alert(newURL);
            window.location = newURL;
        }

    </script>
