﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
      function fileSelected() {
        var file = document.getElementById('fileToUpload').files[0];
        if (file) {
            var fileSizeBytes = file.size;
          var fileSize = 0;
          if (fileSizeBytes > 1024 * 1024)
              fileSize = (Math.round(fileSizeBytes * 100 / (1024 * 1024)) / 100).toString() + 'MB';
          else
              fileSize = (Math.round(fileSizeBytes * 100 / 1024) / 100).toString() + 'KB';

          document.getElementById('fileName').innerHTML = 'File name : ' + file.name;
          document.getElementById('fileSize').innerHTML = 'File size : ' + fileSize;
          document.getElementById('fileSize').innerHTML = 'File size (in bytes) : ' + fileSizeBytes;
        }
      }

    var total = 0;
    var start = 0;
    var end = 0;
    var chunkSize = 10 * 1024 * 1024; 
    var file;

    function uploadFile() {
        file = document.getElementById('fileToUpload').files[0];
        if (file) {
            document.getElementById("uploadButton").disabled = true;
            total = file.size;
            if (total < chunkSize) {
                end = total;
            }
            else {
                end = chunkSize;
            }
            uploadChunk();
        }
    }

    function uploadChunk() {
        var fd = new FormData();
        var chunk = file.slice(start, end);

        fd.append("start", start);
        fd.append("end", end);
        fd.append("chunk", chunk);

        var xhr = new XMLHttpRequest();
        xhr.addEventListener("load", uploadComplete, false);
        xhr.open("POST", "Upload");
        xhr.send(fd);

        var percentComplete = Math.round(start * 100 / total);
        document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '% (' + start + ')';
    }

      function uploadComplete(evt) {
          document.getElementById('serverMessage').innerHTML = evt.target.responseText;
          lastUploadDone = true;

          start = end;
          end = start + chunkSize;

          if ((start < total)) {

              if (end > total) {
                  end = total;
              }
                  
              uploadChunk();
          }
          else {
              var percentComplete = Math.round(start * 100 / total);
              document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '% (' + start + ')';
              document.getElementById("uploadButton").disabled = false;
          }
      }
    
</script>


<form id="form1" enctype="multipart/form-data" method="post" action="Upload">
    <div class="row">
        <label for="fileToUpload">Select a File to Upload</label><br />
        <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" />
        Server side file name is @ViewBag.TempFilename
    </div>
    <div id="fileName"></div>
    <div id="fileSize"></div>
    <div class="row">
        <input type="button" onclick="uploadFile()" value="Upload" id="uploadButton" />
    </div>
    <div id="progressNumber"></div>
    <div id="serverMessage"></div>
</form>
