﻿@{
    ViewBag.Title = "About";
}

<p>
    <br />
    <hr />
</p>



<p>@Html.ActionLink("Clear", "Clear", "Home")</p>
<p>
    <br />
    <hr />
</p>
<p>@Html.ActionLink("Refresh", "About", "Home")</p>
<p>
    <br />
    <hr />
</p>

@Html.ListBox("URLs", (IEnumerable<SelectListItem>)ViewBag.URLs, new { style = "width:100%;max-width:100%", size=35 })
