﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


@(Html.Kendo().ProgressBar()
                                  .Name("profileCompleteness")
                                  .Type(ProgressBarType.Value)
                                  .ShowStatus(false)
                                  .Min(0)
                                  .Max(8)
                                  .Value(1)
)

@using (Html.BeginForm("New", "Filter", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @(Html.Kendo().TabStrip()
                                                                      .Name("tabstrip")
                                                                      .Items(tabstrip =>
                                                                      {
                                                          //1
                                                          tabstrip.Add().Text("Filter Name")
                                                                              .Selected(true)
                                                                              .LoadContentFrom("FilterName", "Home")
                                                                              ;

                                                          //2
                                                          tabstrip.Add().Text("Queue Name")
                                                                          .Enabled(false)
                                                                          .LoadContentFrom("QueueName", "Home")
                                                                          ;
                                                                      })
                                                                                                                            .Events(ev =>
                                                                                                                            {
                                                                                                                                ev.Select("onSelect");
                                                                                                                                ev.Show("onShow");
                                                                                                                            })

    )

}




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            var progress,
                tabs,
                currentIndex = 0;

            $(document).ready(function () {
                progress = $("#profileCompleteness").data("kendoProgressBar");
                tabs = $("#tabstrip").data("kendoTabStrip");
            })

            function onSelect(e) {

                var selectedIndex = tabIndexOfElement(e.item),

                    isMovingBack = selectedIndex < currentIndex;

                if (isMovingBack || isTabValidAt(currentIndex)) {
                    console.log("tab passed validation")
                    currentIndex = selectedIndex;
                    tabs.enable(getTabAtIndex(currentIndex), true);
                }
                else {
                    e.preventDefault();
                }
            }

            function onPreviousClick(e) {
                e.preventDefault();
                tabs.select(tabs.select().prev());
            }

            function onNextClick(e) {
                e.preventDefault();

                tabs.select(getTabAtIndex(currentIndex + 1));
            }

            function getTabAtIndex(index) {
                return tabs.tabGroup.children().eq(index);
            }

            function tabIndexOfElement(element) {
                return tabs.element.find(element).index();
            }

            function isTabValidAt(tabIndex) {
                var el = tabs.contentElement(tabIndex),
                    val = $(el).kendoValidator().data("kendoValidator");
                return val.validate();
            }

            function onShow(e) {
                progress.value(currentIndex + 1);
            }
        </script>

    }
}
