﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<script>

    var classificationdata = @Html.Raw(ViewData["ClassificationData"]);

    $(document).ready(function () {

        // classifications
        $("#toplevel").kendoDropDownList({
            optionLabel: "Select top level...",
            dataTextField: "TopLevel",
            dataValueField: "TopLevel",
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    dataType: "jsonp",
                    read: function (operation) {
                        operation.success(classificationdata); //mock transport
                    }
                },
                requestEnd: function (e) {
                    // alert(JSON.stringify(e.response));
                    // alert(JSON.stringify(e.response.Classifications));
                    e.response.TopLevel = e.response.Classifications;
                },
                schema: {
                    data: "Classifications"
                }
            }
        }).data("kendoDropDownList");

        //var selectedTopLevel = $("#toplevel").data("kendoDropDownList");

        $("#sublevel").kendoDropDownList({
            autoBind: false,
            cascadeFrom: "toplevel",
            optionLabel: "Select sub level...",
            dataTextField: "Name",
            dataValueField: "Name",
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    dataType: "jsonp",
                    read: function (operation) {
                        operation.success(classificationdata); //mock transport
                    }
                },
                requestEnd: function (e) {
                    alert(JSON.stringify(e.response));

                    //var xyz;

                    //$.each(e.response.Classifications, function (key, val) {
                    //    // if (key == selectedTopLevel.value()) 
                    //    {
                    //        alert(key + "-" + JSON.stringify(val));
                    //        xyz = val;
                    //    }
                    //});

                    //alert(JSON.stringify(xyz));

                    //e.response.Name = e.response.Classifications[0].SubLevel;

                    //e.response.Name = e.response.Classifications["CSS"].SubLevel;
                },
                schema: {
                    data: "SubLevel"
                }
            }
        }).data("kendoDropDownList");


    });
</script>
<hr />

<div class='form-group'><label class='control-label col-sm-4'>Classifications : Top Level</label> <input id='toplevel' style='width: 300px' /></div>
<div class='form-group'><label class='control-label col-sm-4'>Sub Level</label> <input id='sublevel' style='width: 300px' /></div>