﻿@{Layout = null;}
@model TelerikAspNetCoreApp1.Models.FilterViewModel
@{
    ViewData["Title"] = "FilterName";
}

<h2>FilterName</h2>

<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 form-group">
                <div class="col-md-12">
                    <label asp-for="FilterName" class="control-label"></label>
                    <input asp-for="FilterName" class="form-control" />
                    <span asp-validation-for="FilterName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <div class="col-md-12">
                    <label asp-for="LimitNumberOfCases" class="control-label"></label>
                    <input asp-for="LimitNumberOfCases" class="form-control" />
                    <span asp-validation-for="LimitNumberOfCases" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <div class="col-md-12">
                    <label class="control-label">Filter Metric</label>
                    @(Html.Kendo().DropDownList()
                                                                                                                                .Name("ReviewMetric")
                                                                                                                                .DataTextField("Text")
                                                                                                                                .DataValueField("Value")
                                                                                                                                .Value(Model.ReviewMetric)
                                                                                                                                .BindTo(new List<SelectListItem>() {
                                                                                                                                                      new SelectListItem() {
                                                                                                                                                          Text = "FDR",
                                                                                                                                                          Value = "FDR"
                                                                                                                                                      },
                                                                                                                                                      new SelectListItem() {
                                                                                                                                                          Text = "FWR",
                                                                                                                                                          Value = "FWR"
                                                                                                                                                      },
                                                                                                                                                       new SelectListItem() {
                                                                                                                                                          Text = "Area",
                                                                                                                                                          Value = "Area"
                                                                                                                                                      },
                                                                                                                                                      new SelectListItem() {
                                                                                                                                                          Text = "Aged & Idle Case Review",
                                                                                                                                                          Value = "AI"
                                                                                                                                                      },
                                                                                                                                                       new SelectListItem() {
                                                                                                                                                          Text = "FQR",
                                                                                                                                                          Value = "FQR"
                                                                                                                                                      },
                                                                                                                                                      new SelectListItem() {
                                                                                                                                                          Text = "IR Missed Case Review",
                                                                                                                                                          Value = "IR"
                                                                                                                                                      }, new SelectListItem() {
                                                                                                                                                          Text = "PG",
                                                                                                                                                          Value = "PG"
                                                                                                                                                      }
                                                                                                                                      })
                                                                                                                                .HtmlAttributes(new { @class = "form-control" })
                    )
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-12 form-group">
                <div class="col-md-12">
                    <label asp-for="SearchCaseNumbers" class="control-label"></label>
                    <textarea asp-for="SearchCaseNumbers" class="form-control" />
                    <span asp-validation-for="SearchCaseNumbers" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <div class="col-md-12">
                    <label asp-for="FilterOwner" class="control-label"></label>
                    <input asp-for="FilterOwner" class="form-control" readonly="@(true)" />
                    <span asp-validation-for="FilterOwner" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <div class="col-md-12">
                    <label asp-for="FilterID" class="control-label"></label>
                    <input asp-for="FilterID" class="form-control" readonly="@(true)" />
                    <span asp-validation-for="FilterID" class="text-danger"></span>
                </div>
            </div>

        </div>


        <footer class="col-xs-12 form-group text-right">
            @(Html.Kendo().Button()
                                                                                                                                    .Name("Next1")
                                                                                                                                    .Content("Next")
                                                                                                                                    .HtmlAttributes(new { @class = "k-primary" })
                                                                                                                                    .Events(ev => ev.Click("onNextClick")))
        </footer>
    </div>
</div>