@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-4 col-md-3 placeholder">
        <img class="img-responsive" alt="200x200" src="~/Images/200.png">
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2>Lorem ipsum...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <kendo-button name="PrimaryButton" tag="span" class="textButton k-primary">Primary Button</kendo-button>
                </p>
            </div>

            <div class="col-xs-12 col-md-4">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.
                </p>
                <p>
                    <kendo-button name="TextButton" tag="span" class="textButton">Button</kendo-button>
                </p>

            </div>
            <div class="col-xs-12 col-md-4">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <kendo-button name="Button" tag="span" class="textButton">Button</kendo-button>
                </p>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div>
        <a href="#" class="k-button" id="save">Save State</a>
        <a href="#" class="k-button" id="load">Load State</a>
    </div>
    <div class="col-xs-18 col-md-12">
        @(Html.Kendo().Grid<TelerikAspNetCoreApp1.Models.OrderViewModel>
            ()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.OrderID).Filterable(false);
                columns.Bound(p => p.Freight);
                columns.Bound(p => p.OrderDate).Format("{0:MM/dd/yyyy}");
                columns.Bound(p => p.ShipName);
                columns.Bound(p => p.ShipCity);
                columns.Bound(p => p.OrderStatus)
                .ClientGroupHeaderTemplate("#= value # (Order Count: #= count#)")
                .ClientFooterTemplate("<span id='FooterCompletedCount'></span>")
                .ClientHeaderTemplate("<span id='HeaderCompletedCount'></span>");
            })
            .ToolBar(tools => tools.Excel())
            .Pageable()
            .Sortable()
            .Scrollable()
            .Filterable()
            .Groupable()
            .ColumnMenu()
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .HtmlAttributes(new { style = "height:550px;" })
            .Events(e => e.DataBound("onDataBound"))
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Read(read => read.Action("Orders_Read", "Grid"))
            .Aggregates(ag => { ag.Add(o => o.OrderStatus).Count(); })
            )
        )

        @(Html.Kendo().ContextMenu()
                                        .Name("contextmenu")
                                        .Target("#grid")
                                        .Orientation(ContextMenuOrientation.Vertical)
                                        .Items(items =>
                                        {
                                            items.Add()
                                                .Text("Get Row");
                                        })
                                        .Events(e => e.Select("onSelect"))
        )
    </div>
</div>
<script>
    function onSelect(e) {
        var item = e.item.innerHTML;
        var grid = $("#grid").data("kendoGrid");
        var model = grid.dataItem(e.target);

        console.log("Context menu selected - " + item + " model " + JSON.stringify(model));
        alert(model);
    }

    var x = 0;

    function onDataBound(e) {

        var grid = $("#grid").data("kendoGrid");

        var options = localStorage["kendo-grid-options"];

        //alert("options " + options);
        if (x ==0 && options != null && options.length > 0) {
            alert("loading...")
            console.log(options);
            grid.setOptions(JSON.parse(options));
            x = 1;
        }


        var data = this.dataSource.data();
        var completed = 0;
        for (var i = 0; i < data.length; i++) {
            if (data[i].OrderStatus === "DONE") {
                completed++;
            }
        }

        $("#FooterCompletedCount").text("Completed orders: " + completed);
        $("#HeaderCompletedCount").text("Completed orders: " + completed);
    }


    $(function () {
        var grid = $("#grid").data("kendoGrid");

        $("#save").click(function (e) {
            e.preventDefault();
            localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
        });

        $("#load").click(function (e) {
            e.preventDefault();
            var options = localStorage["kendo-grid-options"];
            if (options) {
                grid.setOptions(JSON.parse(options));
            }
        });
    });
    

 </script>