﻿@model TelerikAspNetCoreApp1.Models.WizardViewModel

<h4>WizardViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PageOne">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Page1TextBox" class="control-label"></label>
                <input asp-for="Page1TextBox" class="form-control" />
                <span asp-validation-for="Page1TextBox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Page2CheckBox" /> @Html.DisplayNameFor(model => model.Page2CheckBox)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Page3TextBox" class="control-label"></label>
                <input asp-for="Page3TextBox" class="form-control" />
                <span asp-validation-for="Page3TextBox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

