﻿
@{
    ViewData["Title"] = "TextTwo";
}

<h2>TextTwo</h2>



    @Html.Raw(ViewData["TWO"])

@ViewData["TWO"]


<button onclick="OmegaSubmit()">Click me</button>

<script>

    var SRNumber = "SRNumber";
    var FilterID = "FilterID";
    var ReviewerRole = "ReviewerRole";
    var ReviewMetric = "ReviewMetric";

   
</script>