﻿@model TelerikAspNetCoreApp1.Models.TimePickerModel
@{
    ViewData["Title"] = "TimePicker";
}

<h2>TimePicker</h2>

<h3>UTC Time is @DateTime.UtcNow.TimeOfDay</h3>

<form asp-action="TimePicker">
    @(Html.Kendo().TimePicker()
                                .Name("timepicker")
                                .Value(Model.OnlyTime)
                                .HtmlAttributes(new { style = "width: 100%", title = "timepicker" })
                                .DateInput(false)
    )
    <div class="form-group">
        <input type="submit" value="Update Time" class="btn btn-default" />
    </div>
</form>