﻿
@{
    ViewData["Title"] = "Wizard";
}

<h2>Wizard</h2>

@(Html.Kendo().ProgressBar()
                              .Name("profileCompleteness")
                              .Type(ProgressBarType.Value)
                              .ShowStatus(false) // Don't display the value, we'll let the tab strip do that.
                              .Min(0)
                              .Max(4) // Number of steps in the form
                              .Value(1) // Start at step 1
)

@using (Html.BeginForm("Wizard", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @(Html.Kendo().TabStrip()
                      .Name("tabstrip")
                      .Items(tabstrip =>
                      {
                          tabstrip.Add()
                            .Text("Page One")
                            .Selected(true)
                            .LoadContentFrom("PageOne", "Home");
                          tabstrip.Add()
                            .Text("Page Two")
                            .Selected(true)
                            .LoadContentFrom("PageTwo", "Home");
                          tabstrip.Add()
                            .Text("Page Three")
                            .Selected(true)
                            .LoadContentFrom("PageThree", "Home");
                      })
                      .Events(ev =>
                    {
                        ev.Select("onSelect");
                        ev.Show("onShow");
                    })
    )

}

<script>

    var progress,
        tabs,
        currentIndex = 0;

    $(document).ready(function () {
        progress = $("#profileCompleteness").data("kendoProgressBar");
        tabs = $("#tabstrip").data("kendoTabStrip");
    })

    function onSelect(e) {

        var selectedIndex = tabIndexOfElement(e.item),

            isMovingBack = selectedIndex < currentIndex;

        if (isMovingBack || isTabValidAt(currentIndex)) {
            console.log("tab passed validation")
            currentIndex = selectedIndex;
            tabs.enable(getTabAtIndex(currentIndex), true);
        }
        else {
            e.preventDefault();
        }
    }

    function tabIndexOfElement(element) {
        return tabs.element.find(element).index();
    }

    function isTabValidAt(tabIndex) {
        var el = tabs.contentElement(tabIndex),
            val = $(el).kendoValidator().data("kendoValidator");
        return val.validate();
    }

    function getTabAtIndex(index) {
        return tabs.tabGroup.children().eq(index);
    }

    function onShow(e) {
        progress.value(currentIndex + 1);
    }

    function onPreviousClick(e) {
        e.preventDefault();

        tabs.select(tabs.select().prev());
    }

    function onNextClick(e) {
        e.preventDefault();

        tabs.select(getTabAtIndex(currentIndex + 1));
    }
</script>