@model EFdotnetcore.Models.NLog

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>NLog</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Application" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Application" class="form-control" />
                <span asp-validation-for="Application" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Logged" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Logged" class="form-control" />
                <span asp-validation-for="Logged" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Level" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServerName" class="form-control" />
                <span asp-validation-for="ServerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Port" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Https" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Https" class="form-control" />
                <span asp-validation-for="Https" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServerAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServerAddress" class="form-control" />
                <span asp-validation-for="ServerAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RemoteAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RemoteAddress" class="form-control" />
                <span asp-validation-for="RemoteAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Logger" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Logger" class="form-control" />
                <span asp-validation-for="Logger" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Callsite" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Callsite" class="form-control" />
                <span asp-validation-for="Callsite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Exception" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Exception" class="form-control" />
                <span asp-validation-for="Exception" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
