@model EFdotnetcore.Models.NLog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Application)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Https)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Https)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServerAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServerAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RemoteAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RemoteAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logger)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logger)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Callsite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Callsite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exception)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exception)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
