﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="ASPXAsync.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    
   <%
       foreach(var msg in ASPXAsync.Worker.ourLogs)
       { %>
           <p><%=msg%></p>
       <%
           }
       %>
</asp:Content>
