﻿@model WabacMasterDetails.DB.MasterTable

@{
    ViewBag.Title = "Master Table";
}

<div>
    <h4>Master Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
    <h4>Details Table</h4>

    @{ Html.RenderAction("index", "details", new { id = Model.ID }); }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
