﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Start Time @ViewBag.StartTime </h1>
<h2>Duration @ViewBag.Duration</h2>
