﻿body { 
   background: blue; 
   font-size: 12pt; 
}
   
#menu { 
   display: none; 
}
   
#wrapper, 
#content { 
   width: auto; 
   margin: 0 5%; 
   padding: 0; 
   border: 0; 
   float: none !important; 
   color: black; 
   background: transparent none; 
}
   
div#content { 
   margin-left: 10%; 
   padding-top: 1em; 
   border-top: 1px solid #930; 
}
   
div#mast { 
   margin-bottom: -8px; 
}
   
div#mast img { 
   vertical-align: bottom; 
}
   
a:link, 
a:visited { 
   color: #520; 
   background: transparent; 
   font-weight: bold; 
   text-decoration: underline; 
}
   
#content a:link:after, 
#content a:visited:after { 
   content: " (" attr(href) ") "; 
   font-size: 90%; 
}
   
#content a[href^="/"]:after { 
   content: " (" attr(href) ") "; 
}

#pageHeader {
    display: none;
}

.header2 {
    display: none;
}


.header4 {
    display: none;
}
hr
{
display: none;
}
footer
{
    display: none;
}
#container
{
    display: none;
}
.back2List
{
    display: none;
}
