﻿@{
    ViewData["Title"] = "Home Page";
}


<h3>
    (Parent:ChildOne) @ViewData["Parent:ChildOne"]
</h3>
<h3>
    (Parent:ChildTwo) @ViewData["Parent:ChildTwo"]
</h3>
<h3>
    (ConnectionStrings:Parent:ChildTwo) @ViewData["ConnectionStrings:Parent:ChildTwo"]
</h3>
<h3>
    constr (Parent:ChildTwo) @ViewData["CUSTOMCONNSTR_Parent:ChildTwo"]
</h3>
